body{
    max-width:100%;
    margin: 0,auto;
    background-color: hsl(185, 75%, 39%);
    position: static;
    height:100% ;
    overflow-y: hidden;
    font-family: 'Kumbh Sans', sans-serif;
}
.pattern-top{
    text-align: left;
}
.pattern-bottom{
    text-align: right;
}
.component{
    position: relative;
    max-width: 100%;
    border-radius: 40px;
}
.profile{
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    background-color: white;
    transform: 
        translate(-50%, -50%);
        height: 400px;
        border-radius: 25px;
}
.pattern-card img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.main{
   position: relative;
    bottom: 30px;
}
.main figure{
   position: relative;
   bottom: 40px;
   text-align: center;
}
figcaption span{
    padding-left: 8px;
}

figure img{
    border-radius: 50px;
    background-color: white;
    
}
span,hr{
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}
p{
    color: hsl(229, 23%, 23%);
     font-weight: 700;
}
.likes{
    display: flex;
    flex-direction: row;
    padding: 12px;
    justify-content: space-between;
    position: relative;
    bottom: 10px;
}